:root {
    --blue: #0bb4bd;
    --white: #ffffff;
    --green: #0bb06e; 
    --purple: #6c0ac7; 
    --red: #ff2600;
    --purpleDark: #5b1b96; 
    --greenDark: #038450; 
    --black: #000; 
    --gray: #c4c7d5;
  }

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  .active{
    display:block; 
  }

  .inactive {
    display:none; 
  }

  .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50px;
    background-color: var(--white);
  }

  .navegacion .contenedor-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;   
  }

  .navegacion .contenedor-menu li {
    display: inline;
    align-items: center;
    padding: 5px;
  }

  .navegacion .contenedor-menu li a {
    color: var(--purple); 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    color: var(--white);
    }

  .navegacion .contenedor-menu .dropbtn span {
    position: fixed;
	  top: 80px;
	  right: 40px;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5px;
    padding: 18px 30px; /* Relleno del boton */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease 0ms;
    z-index: 999 !important;

  }

  .navegacion .contenedor-menu .dropbtn span:hover {
    background-color: var(--purpleDark);
  }

  .contador {
    position: fixed;
	  top: 70px;
	  right: 25px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 10px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    padding: 5px 5px; /* Relleno del boton */
    z-index: 999999 !important;
  }

  .dropdown-cart {
    position: fixed;
	  top: 120px;
	  right:20px;
    overflow: hidden;
  }

  .dropdown-cart .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--white);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;

  }

  /*Tabla de contenido dropdown carrito*/
  .dropdown-content {
    display: none;
    background-color: var(--white);
    /*min-width: 160px;*/   
    min-width: 300px;
    width: 100%; 
    height: auto;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px var(--black);
    z-index: 999 !important;
  }

   /*MINIATURA DE CURSOS EN DROPDOWN CARRITO*/
   table {
    font-size: 16px;
    padding: 10px;

  }

  td .borrar-curso {
    border-radius: 20%;
    width: 30px;
    font-size: 16px;
    text-align: center;
    padding: 5px; /* Relleno del boton */
  }

  td .borrar-curso  {
    color: var(--red) !important;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  th, td{
    border-bottom: 1px solid var(--gray);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  td .img-miniatura-curso {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  tbody {
    text-align: center;
  }

  tbody tr {
    text-align: center;
  }


  .dropdown-content table thead th {
    padding: 5px;
  }

  .dropdown-content a {
    float: none;
    color: var(--white);
    padding-bottom: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-cart-content a:hover {
    background-color: var(--gray);
  }
  
  .dropdown-cart:hover .dropdown-content {
    display: block;
  }

  .navegacion .logotipo {
    max-width: 50px;
  }

 
  .banner-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../images/img-banner-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    color: var(--white);
    border-top: #6c0ac7 4px solid;
    }

    .banner-principal .buscador {
     width: 100%;
     max-width: 600px;
     padding-bottom: 30px; 
    }

    .formularioBuscador {
      padding: 10px;
    }

    /*input[type=text]:focus*/
    input[type=text] {
      width: 65%;
      height: 50px;
      padding-left: 2px;
      padding-right: 2px;
      margin: 0px;
      margin-top: 10px;
      font-size: 12px;
      border: 3px solid var(--gray); 
      border-radius: 5px;
    }
    .inicioSesion input{
      width: 100%;
    }

    .registro input{
      width: 100%;
    }

    .agregarProductos input {
      width: 100%;
    }


    input[type=password] {
      height: 50px;
      padding-left: 2px;
      padding-right: 2px;
      margin: 0px;
      margin-top: 10px;
      font-size: 12px;
      border: 3px solid var(--gray); 
      border-radius: 5px;
    }

    input[type=email] {
      height: 50px;
      padding-left: 2px;
      padding-right: 2px;
      margin: 0px;
      margin-top: 10px;
      font-size: 12px;
      border: 3px solid var(--gray); 
      border-radius: 5px;
    }

    input[type=submit] {
      width: 25%;
      height: 50px;
      padding: 0px;
      margin: 0px;
      padding-left: 2px;
      padding-right: 2px;
      background-color: var(--purple);
      color: var(--white);
      border: none; 
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: var(--purpleDark);
    }

     .titulos{
      display: flex;
      justify-content:center;
      padding: 15px;
    }

    /*CURSOS CARDS */

    .cursos .contenedor {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
    }

    .cursos .contenedor:after {
      content: "";
      display: table;
      clear: both;
    }

    .cursos .contenedor .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }

    .card {
      background-color: var(--white);
      border-radius: 5px;
      border: var(--gray) 1px solid;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
      padding: 16px;
      margin: 5px;
      text-align: left;
    }

    .card .img-curso {
      width: 100%;
      border-radius: 5px;
    }

    .card .precio {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
    }

    .card .precio-anterior {
      text-decoration: line-through;
      color: var(--gray);
    }

    .card .precio-actual {
      padding: 10px;
      color: var(--purple) !important; 
      text-decoration: Inherited !important;
      font-weight: 600;
    }

    /*SECCIÓN INICIAR SESIÓN y REGISTRO*/
    .inicioSesion, .registro, .agregarProductos{
      display: flex;
      justify-content: center;
    }

    .btn-purple {
      height: 35px;
      padding: 10px;
      margin: 0px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: var(--purple);
      color: var(--white);
      border: none; 
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-purple:hover {
      background-color: var(--purpleDark);
      color: var(--white);
    }

    .btn-green {
      width: 100%;
      height: 35px;
      padding: 10px;
      margin: 0px;
      margin-top: 10px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: var(--green);
      color: var(--white);
      border: none; 
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-green:hover {
      background-color: var(--greenDark);
      color: var(--white);
    }

    footer {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100px;
      padding: 30px;
    }

    @media screen and (max-width: 768px) {
      .logotipo {
        display:none; 
      }
      /*CURSOS CARDS*/
      .cursos .contenedor {
        display: flex;
        justify-content: center;
      }

      .cursos .contenedor .column {
        width: 65%;
        display: block;
        margin-bottom: 20px;
      }

      .dropdown-cart {
        position: fixed;
        top: 120px;
        right:5px;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 300px) {
      /*CURSOS CARDS*/
      .logotipo {
        display:none; 
      }
      .cursos .contenedor .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }

      .dropdown-cart {
        position: fixed;
        top: 120px;
        right:5px;
        overflow: hidden;
      }
    }